.backcolour {background-color:transparent;}
body {background-color: #F7F7F7;}
.resources a {color:black;}
.container {border: 1px solid #ccc; }
.navbar {background-color:#ccc;}
.span-12 {float:left; width:470px; clear:both;}
.last {clear:none;}
.container {width:1500px; width:950px}